﻿@model Bullet.Framework.Authentication.Models.AccountViewModels.LoggedOutViewModel

<div class="page-header logged-out">
    <h1>
        Logout
        <small>You are now logged out</small>
    </h1>
    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to the
            <span>@Model.ClientName</span> application.
        </div>
    }
    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>
@section scripts
{
    @*uncomment this script to experiment with automatic redirect to client after signout*@
    <script src="~/js/signout-redirect.js"></script>
}
